.copyrightSection {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  background-color: #1259b0;
}

.copyrightText {
  color: var(--white);
  font-family: var(--robotoSlabRegular);
}
