.footer {
  background-color: var(--bgColor);
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .footerList {
  list-style: none;
  color: var(--white);
}

.footer .footerList li {
  font-family: var(--robotoSlabRegular);
  margin-bottom: 1rem;
  color: var(--desColor);
}

.footer .footerList li:nth-child(1),
.footerList li > span {
  color: var(--white);
}

.footer .footerList li:nth-child(1) {
  margin-bottom: 2rem;
  font-size: 2.3rem;
  font-family: var(--josefinRegular);
}
