* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: robotoMedium;
  src: url("./assets/fonts/roboto/RobotoSlab-Medium.ttf");
}

@font-face {
  font-family: robotoLight;
  src: url("./assets/fonts/roboto/RobotoSlab-Light.ttf");
}

@font-face {
  font-family: josefinMedium;
  src: url("./assets/fonts/josefin/JosefinSans-Medium.ttf");
}

@font-face {
  font-family: josefinLight;
  src: url("./assets/fonts/josefin/JosefinSans-Light.ttf");
}

@font-face {
  font-family: josefinRegular;
  src: url("./assets/fonts/josefin/JosefinSans-Regular.ttf");
}

@font-face {
  font-family: josefinBold;
  src: url("./assets/fonts/josefin/JosefinSans-Medium.ttf");
}

:root {
  --pink: #fc5185;
  --bgColor: #004caa;
  --navTextColor: #006;
  --textColor: #666666;
  --headingColor: #222;
  ---bodyColor: #666;
  --white: #fff;
  --black: #000;
  --robotoLight: robotoLight;
  --robotoRegular: robotoRegular;
  --robotoMedium: robotoMedium;
  --josefinLight: josefinLight;
  --josefinRegular: josefinRegular;
}

body {
  color: var(---bodyColor);
}

.globalWidth {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.globalPadding {
  padding: 6rem 0;
}
