* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--bodyColor);
  position: relative;
}

@font-face {
  font-family: robotoMedium;
  src: url("./assets/fonts/robotoslab/RobotoSlab-Medium.ttf");
}

@font-face {
  font-family: robotoLight;
  src: url("./assets/fonts/robotoslab/RobotoSlab-Light.ttf");
}

@font-face {
  font-family: robotoRegular;
  src: url("./assets/fonts/robotoslab/RobotoSlab-Regular.ttf");
}

@font-face {
  font-family: josefinMedium;
  src: url("./assets/fonts/josefin/JosefinSans-Medium.ttf");
}

@font-face {
  font-family: josefinLight;
  src: url("./assets/fonts/josefin/JosefinSans-Light.ttf");
}

@font-face {
  font-family: josefinRegular;
  src: url("./assets/fonts/josefin/JosefinSans-Regular.ttf");
}

@font-face {
  font-family: josefinMedium;
  src: url("./assets/fonts/josefin/JosefinSans-Medium.ttf");
}

:root {
  --pink: #fc5185;
  --bgColor: #004caa;
  --navTextColor: #006;
  --headingColor: #222;
  --bodyColor: #666;
  --borderColor: #3672bc;
  --desColor: #d7d3d3;
  --hoverBg: #1259b0;
  --white: #fff;
  --black: #000;
  --robotoSlabLight: robotoLight;
  --robotoSlabMedium: robotoMedium;
  --robotoSlabRegular: robotoRegular;
  --josefinLight: josefinLight;
  --josefinRegular: josefinRegular;
  --josefinMedium: josefinMedium;
}

.globalWidth {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.globalPadding {
  padding: 6rem 0;
}

@media screen and (max-width: 1760px) {
  .globalWidth {
    width: 90%;
  }
}

/* @media screen and (max-width: 1320px) {
  .globalWidth {
    width: 90%;
  }
} */
